@using VirtualForEveryOne.Models
@model VirtualForEveryOne.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totalPost = ViewBag.totalPost;
    var totalLike = ViewBag.totalLike;
    ViewBag.page = "UserProfile";

    List<Answer> ans = TempData["answer"] as List<Answer>;
    List<Faq> faq = TempData["faq"] as List<Faq>;
}
<html lang="en">
<head>
    <title>@{ViewBag.Title = "People | VituallyEveryone ";}</title>
    <link rel="stylesheet" href="~/Content/css/follow-btn.css" />
    <script src="~/Scripts/js/jquery.js"></script>
    <style>


        @@-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0);
            }

            to {
                -webkit-transform: scale(1);
            }
        }

        @@keyframes zoom {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1);
            }
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: white;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }

        /* 100% Image Width on Smaller Screens */

        @@media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }
        }
    </style>
    <script>
        function div_change(x) {
            if (x = 1) {
                $('.profile-top').css("background", "linear-gradient(rgba(255,0,0,0), rgba(43,50,55,1)),round url('/Content/images/dummy_cover.jpg')");
            }
            else if (x = 2) {
                //var img = document.getElementById("profile_img");
                //img.src = "/Content/images/dummy.png";

                //document.getElementById("profile_img").src = "/Content/images/dummy.png";
            }

        }
    </script>
</head>
<body>
    <datalist id="faq_list">
        @{
            foreach (var f in faq)
            {
                <option value="@f.faq1"></option>
            }

        }
    </datalist>
    <div class="container" style="margin-left: 250px">
        <div class="row">
            <span id="check" hidden>@ViewBag.check</span>
            <div class="profile-top" id="cover-div" style="background: linear-gradient(rgba(255,0,0,0), rgba(43,50,55,1)),round url('@Model.coverpic')">
                <button class="fol-btn followButton" id="follow_btn">Follow</button>
                <img src="@Model.profilepic" id="profile_img" alt="Profile Picture" style="cursor:pointer;" />
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img src="" class="modal-content" id="profile_img01">
                    <div id="caption"></div>
                </div>
                <script>
                    // Get the modal
                    var modal = document.getElementById('myModal');

                    // Get the image and insert it inside the modal - use its "alt" text as a caption
                    var img = document.getElementById('profile_img');
                    var modalImg = document.getElementById("profile_img01");
                    var captionText = document.getElementById("caption");
                    img.onclick = function () {
                        modal.style.display = "block";
                        modalImg.src = this.src;
                        captionText.innerHTML = this.alt;
                    }

                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function () {
                        modal.style.display = "none";
                    }
                </script>
                <h4 style="color: white; font-style:italic"><img src="~/Content/images/online.png" />@Model.fullname</h4>
                <h5 style="color: white">@Model.username</h5>
                <input id="f_username" type="text" value="@Model.username" hidden />
            </div>
            @{
                if (@Model.coverpic == null)
                {
                    <script>div_change(1)</script>
                }
                else if (@Model.profilepic == null)
                {
                    <script>div_change(2)</script>
                }
            }
            <div>
                <div class="well" style="background-color: #1E2326; width: 50%; display: inline-block">
                    <h4 id="ask-well-top">Ask yourself</h4>
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="user" value="username" hidden />
                            <textarea class="form-control" name="textarea" required></textarea>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider"></span>
                                    </label>
                                </td>
                                <td>
                                    <h5 style="margin-left: 5px; color: #CC2222">Ask anonymously</h5>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary" style="margin-left: 225px; width: 100px">Ask</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="col-md-4" id="profile_side_div">
                    <div class="profile-side-div">
                        <div style="border-left:none">
                            <img src="~/Content/images/post.png" /><br />
                            <h4>@totalPost</h4>
                            <h6>posts</h6>
                        </div>
                        <div>
                            <img src="~/Content/images/plike.png" /><br />
                            <h4>@totalLike</h4>
                            <h6>likes</h6>
                        </div>
                        <div>
                            <img src="~/Content/images/follower.png" /><br />
                            <h4>2</h4>
                            <h6>follower</h6>
                        </div>
                    </div>
                    <div class="profile-side-div2">
                        <h5>About me</h5>
                        <a href="~/Home/Settings#profile">  <h6>Edit profile</h6></a>
                    </div>
                    <div class="profile-side-div3">
                        <img src="~/Content/images/ques_icon.png" />
                        @if (@Model.bio == null)
                        {
                            <a href="#"> <p>Tell us some things about yourself...</p></a>
                        }
                        else
                        {
                            <a href="#"> <p>@Model.bio</p></a>
                        }
                        <br />
                        <img src="~/Content/images/ques_icon.png" />
                        @if (@Model.skills == null)
                        {
                            <a href="#"> <p>Add your skills...</p></a>
                        }
                        else
                        {
                            <a href="#"> <p>Skills : @Model.skills</p></a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-8" style="border: solid 1px; border-color: lightgrey">
                <div id="mydiv">
                    <table class="ques-table2">
                        @{
                            int i = 1;

                            foreach (var a in ans)
                            {
                                <tr>
                                    <td>
                                        <hr style="color: gray; width: 475px" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h5 style="display: inline-block" id="ques">@a.question</h5>
                                        @if (a.image != null)
                                        {
                                            <br />
                                            <img style="display: inline-block; width:300px; cursor:pointer" id="ques-img" class="c-ques-img" src="@a.image" />
                                        }
                                        @if (a.s_profilepic != null)
                                        {
                                            <img style="width: 25px; height: 25px; display: inline-block" src="@a.s_profilepic" />
                                        }
                                    </td>
                                    <td>
                                        <input type="text" id="likefield" name="likefield" hidden />
                                        <input type="text" id="dislikefield" name="dislikefield" hidden />
                                        <input type="text" name="@i" id="@i" value="@a.Id" hidden />
                                        <input type="text" id="input-field-id" name="input-field-id" value="@a.Id" hidden />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div id="ans-div">
                                            <p><img src="@a.a_profilepic" />@@ @a.a_username</p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <p style="font-style: italic">@a.ans</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="example">
                                            <div class="rating" id="rating">
                                                <button class="btn btn-default like " id="like" onmouseover="like(@i)">
                                                    <img class="img-like" src="~/Content/images/like.png" />Like
                                                </button>
                                                <span class="likes">@a.like</span>
                                                <button class="btn btn-default dislike" id="dislike" onmouseover="dislike(@i)">
                                                    <img class="img-dislike" src="~/Content/images/dislike.png" />Dislike
                                                </button>
                                                <span class="dislikes">@a.dislike</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>


                                i++;
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well" id="help-cen-div" style="height: 275px; background-color: #1E2326;">
                    <div class="input-group" style="margin-top: 25px">
                        <input type="text" class="form-control" id="search_faq" onchange="faqcheck()" list="faq_list" placeholder="Search Frequently Asked Questions">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="faqBtn">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <div id="well-div2">
                        <img src="~/Content/images/download.png" style="margin-left: 10px; height: 40px;" />
                        <img src="~/Content/images/help.png" style="margin-left: 10px; height: 30px;" />
                        <span></span>
                        <img src="~/Content/images/247.png" style="margin-left: 10px; height: 30px;" />
                        <img src="~/Content/images/support.png" style="margin-left: 10px; height: 30px;" />
                        <p style="margin-top: 15px; font-size: small; float: right; color: #CC2222;">
                            <font size="3"><b>VirtuallyEveryone Help Center</b></font>.
                            <br />
                            Get answers you need or contact Support Team.
                        </p>
                    </div>
                </div>
                <div class="well" style="background-color: #1E2326;">
                    <p style="color: white;">
                        <img src="~/Content/images/vesmall.png" style="margin-left: 10px; height: 20px;" />
                        <img src="~/Content/images/copyright.png" style="margin-left: 10px; height: 20px;" />
                        <font size="3"><b>VirtuallyEveryone 2018</b></font>
                    </p>
                </div>
            </div>
        </div>
        <div id="myModal1" class="modal1">
            <span class="close1">&times;</span>
            <img src="" class="modal-content1" id="q_img01">
            <div id="caption1"></div>
        </div>
        <script>
            // Get the modal
            var modal1 = document.getElementById('myModal1');

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var classname = document.getElementsByClassName('c-ques-img');
            var modalImg1 = document.getElementById("q_img01");
            var captionText1 = document.getElementById("caption1");
            var showModal1 = function () {
                modal1.style.display = "block";
                modalImg1.src = this.src;
                captionText1.innerHTML = this.alt;
            }

            for (var i = 0; i < classname.length; i++) {
                classname[i].addEventListener('click', showModal1, false);
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close1")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal1.style.display = "none";
            }

        </script>
    </div>
    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
</body>
<script>
    $(document).ready(function () {

        var button = $("#follow_btn");

        var check = document.getElementById("check").innerHTML;
        if (check == 1) {
            button.addClass('following');
            button.text('Following');
        }
    });
</script>
<script>
    $('button.followButton').click('click', function (e) {
        e.preventDefault();
        $button = $(this);
        if ($button.hasClass('following')) {

            //$.ajax(); Do Unfollow

            var f_username = $('#f_username').val();
            //$('#f_username').val();
            //alert(f_username);

            $.getJSON("/Home/Removefrnd?" + "&f_username=" + f_username, function (data) {

                if (data) {
                    alert("sucessfull");
                }
                else {
                    alert("unsucessfull");
                }
            });

            $button.removeClass('following');
            $button.removeClass('unfollow');
            $button.text('Follow');
        } else {

            var f_username = $('#f_username').val();
            //$('#f_username').val();
            //alert(f_username);

            $.getJSON("/Home/Handlefriendreq?" + "&f_username=" + f_username, function (data) {

                if (data) {
                    alert("sucessfull");
                }
                else {
                    alert("unsucessfull");
                }
            });

            // $.ajax(); Do Follow

            $button.addClass('following');
            $button.text('Following');
        }
    });

    $('button.followButton').hover(function () {
        $button = $(this);
        if ($button.hasClass('following')) {
            $button.addClass('unfollow');
            $button.text('Unfollow');
        }
    }, function () {
        if ($button.hasClass('following')) {
            $button.removeClass('unfollow');
            $button.text('Following');
        }
    });

</script>
</html>
