@using virtually_everyone.Models
@model List<virtually_everyone.Models.notification>


@{
    ViewBag.Title = "Notification | VirtuallyEverone";
    ViewBag.page = "Notifications";

    //List<notification> noti = TempData["notification"] as List<notification>;
    List<post> post = TempData["post"] as List<post>;
    List<answer> answer = TempData["answer"] as List<answer>;
    List<faq> faq = TempData["faq"] as List<faq>;
}

<head>

    <title>@{ViewBag.Title = "Notification | VituallyEveryone ";}</title>

    <script>
        function noti_div_change(x) {

            //alert(x);
            //var div = document.getElementById(0);
            var classname1 = document.getElementsByClassName("noti_div1");


            //div.style.backgroundColor = "red";
            classname1[x].style.backgroundColor = "lightgrey";
        }
    </script>

    <script>

        function setBackground(x) {

            //alert(x);
            //var div = document.getElementById(0);
            var classname2 = document.getElementsByClassName("noti_div2");


            //div.style.backgroundColor = "red";
            classname2[x].style.backgroundColor = "lightgrey";
        }

        function setLikeBackground(x) {

            //alert(x);
            var div = document.getElementById(x);
            //var classname2 = document.getElementsByClassName("noti_div2");


            div.style.backgroundColor = "lightgrey";
            //classname2[x].style.backgroundColor = "lightgrey";
        }

    </script>

</head>

<body id="back-body">

    <datalist id="faq_list">
        @{
            foreach (var f in faq)
            {
                <option value="@f.faq1"></option>
            }

        }
    </datalist>

    <div class="container">
        <div class="row">

            <!-- Main Body Column -->
            <div class="col-lg-8" style=" height: 580px; border: solid 0.4px; background: none; margin-bottom: 50px; margin-left:65px">

                <div id="noti-cbp-contentslider" class="cbp-contentslider" style="height :560px">

                    <nav class="nav nav-tabs">
                        <a id="001" href="#all" class="active"><span>All</span></a>
                        <a id="002" href="#questions" class="icon-rabbit"><span>Question</span></a>
                        <a id="003" href="#answers" class="icon-rabbit"><span>Answers</span></a>
                        <a id="004" href="#likes" class="icon-aligator"><span>Likes</span></a>
                    </nav>

                    <ul>
                        <li id="all">
                            <div>
                                @for (var itr = 0; itr < Model.Count; itr++)
                                {
                                    foreach (var p in post)
                                    {
                                        if (Model[itr].postid.Remove(0, 1) == p.Id.ToString())
                                        {
                                            if (Model[itr].type == "question")
                                            {
                                                 <div class="noti_div1">

                                                     <table class="not_tbl" style="margin-top:10px">
                                                         <tr style="cursor:pointer" onclick="change_noti_status1(@Model[itr].Id)">
                                                             <td>
                                                                 <img style="margin-left: 10px; width: 60px; height: 60px; margin-top:-15px; display: inline-block" src="~/Content/images/dummy.png" />
                                                             </td>

                                                             <td class="td">
                                                                 <table>
                                                                     <tr>
                                                                         <td>
                                                                             <h10>You recieved a new question from <a href="#username" style="color:red;"><span><b>@@@Model[itr].notifier</b></span></a>: </h10>
                                                                         </td>
                                                                     </tr>
                                                                     <tr>
                                                                         <td class="not">
                                                                             <h11>@p.questions</h11>
                                                                         </td>
                                                                     </tr>
                                                                     <tr>
                                                                         <td class="post_time">@Model[itr].time</td>
                                                                     </tr>
                                                                 </table>
                                                         </tr>
                                                     </table>

                                                 </div>
                                            }

                                            else if (Model[itr].type == "answer")
                                            {
                                                 <div class="noti_div1">

                                                    <table class="not_tbl" style="margin-top: 10px">
                                                        <tr style="cursor:pointer" onclick="change_noti_status(@Model[itr].Id)">
@*                                                            <td>
                                                                <img style="margin-left: 10px; width: 60px; height: 60px; display: inline-block" src="~/Content/images/dummy.png" />
                                                            </td>*@
                                                            <td class="td">
                                                                <table>

                                                                    <tr>
                                                                        <td>
                                                                            <h10><a href="#username" style="color:red;"><span><b>@@@Model[itr].notifier</b></span></a> answered your post: </h10>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td class="not">
                                                                            <h11>@p.questions</h11>
                                                                            <img id="q-img" class="c-ques-img" src="@p.image" />
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                    <tr>
                                                                        <td class="post_time">@Model[itr].time</td>
                                                                    </tr>

                                                                </table>
                                                              </td>
                                                          </tr>
                                                    </table>

                                                 </div>
                                            }
                                        }
                                    }

                                    foreach (var ans in answer)
                                    {
                                        if (Model[itr].postid.Remove(0, 1) == ans.Id.ToString())
                                        {

                                            if (Model[itr].type == "like" || Model[itr].type == "dislike")
                                            {
                                                <div class="noti_div1">
                                                    <table class="not_tbl" style="margin-top: 10px">

                                                        <tr style="cursor:pointer" onclick="change_noti_status(@Model[itr].Id)">
                                                            <td class="td">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <h10><a href="#username" style="color:red;"><span><b>@@@Model[itr].notifier</b></span></a> @Model[itr].type your post: </h10>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="not">
                                                                            <a href="#request" style="color: #645959"><span><b>@ans.question</b></span></a>
                                                                            <img id="q-img" class="c-ques-img" src="@ans.image" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="post_time">@Model[itr].time
                                                                        </td>
                                                                    </tr>
                                                                </table>

                                                        </tr>
                                                    </table>
                                                </div>
                                            }
                                            else if (Model[itr].type == "deleted your post" || Model[itr].type =="took action and deleted the post" )
                                            {
                                                <div class="noti_div1">
                                                    <table class="not_tbl" style="margin-top: 10px">

                                                        <tr style="cursor:pointer" onclick="change_noti_status(@Model[itr].Id)">
                                                            <td class="td">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <h10><a href="#username" style="color:red;"><span><b>@@@Model[itr].notifier</b></span></a> @Model[itr].type </h10>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td class="not">
                                                                            <a href="#request" style="color: #645959"><span><b>@ans.question</b></span></a>
                                                                            <img id="q-img" class="c-ques-img" src="@ans.image" />
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td class="post_time">@Model[itr].time
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                        </tr>
                                                    </table>
                                                </div>
                                                 
                                            }
                                        }

                                    }
                                }
                            </div>
                        </li>

                        <li id="questions">
                            <div>
                                @for (var itr = 0; itr < Model.Count; itr++)
                                {
                                    foreach (var p in post)
                                    {
                                        if (Model[itr].postid.Remove(0, 1) == p.Id.ToString())
                                        {
                                            if (Model[itr].type == "question")
                                            {
                                                //if (Model[itr].state == false)
                                                //{
                                                //    //<script>noti_div_change(@itr)</script>
                                                //    //<script>setBackground(@itr)</script>
                                                //}
                                                
                                                <div id="@itr">
                                                    <table class="not_tbl">
                                                        <tr style="cursor:pointer" onclick="change_noti_status1(@Model[itr].Id)">
                                                            <td>
                                                                <img style="margin-left: 10px; width: 60px; height: 60px;margin-top:-15px; display: inline-block" src="~/Content/images/dummy.png" />
                                                            </td>

                                                            <td class="td">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <h10>You recieved a new question from <a href="#username" style="color:red;"><span><b>@@@Model[itr].notifier</b></span></a>: </h10>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="not">
                                                                            <h11>@p.questions</h11>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="post_time">@Model[itr].time</td>
                                                                    </tr>
                                                                </table>
                                                        </tr>
                                                    </table>
                                                </div>
                                            }
                                        }
                                    }

                                    if (Model[itr].state == false)
                                    {
                                        <script>noti_div_change(@itr)</script>
                                        <script>setBackground(@itr)</script>
                                    }
                                }
                            </div>
                        </li>

                        <li id="answers">
                            <div>
                                @for (var itr = 0; itr < Model.Count; itr++)
                                {
                                    foreach (var p in post)
                                    {
                                        if (Model[itr].postid.Remove(0, 1) == p.Id.ToString())
                                        {

                                            if (Model[itr].type == "answer")
                                            {   
                                                <div id="@itr">
                                                    <table class="not_tbl" style="margin-top: 10px">
                                                        <tr style="cursor:pointer" onclick="change_noti_status(@Model[itr].Id)">
                                                            <td class="td">
                                                                <table>

                                                                    <tr>
                                                                        <td>
                                                                            <h10><a href="#username" style="color:red;"><span><b>@@@Model[itr].notifier</b></span></a> answered your post: </h10>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td class="not">
                                                                            <h11>@p.questions</h11>
                                                                            <img src="@p.image" id="q-img" class="c-ques-img" />
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td class="post_time">@Model[itr].time</td>
                                                                    </tr>

                                                                </table>
                                                        </tr>

                                                    </table>
                                                </div>
                                            }
                                        }
                                    }


                                    if (Model[itr].state == false)
                                    {
                                        <script>noti_div_change(@itr)</script>
                                        <script>setBackground(@itr)</script>
                                    }
                                }
                            </div>
                        </li>

                        <li id="likes">
                            <div>
                                @for (var itr = 0; itr < Model.Count; itr++)
                                {
                                    foreach (var ans in answer)
                                    {
                                        if (Model[itr].postid.Remove(0, 1) == ans.Id.ToString())
                                        {
                                            if (Model[itr].type == "like" || Model[itr].type == "dislike")
                                            { 
                                                <div id="@itr">
                                                    <table class="not_tbl" style="margin-top: 10px">
                                                        <tr style="cursor:pointer" onclick="change_noti_status(@Model[itr].Id)">
                                                            <td class="td">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <h10><a href="#username" style="color:red;"><span><b>@@@Model[itr].notifier</b></span></a> @Model[itr].type your post: </h10>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="not">
                                                                            <a href="#request" style="color: #645959"><span><b>@ans.question</b></span></a>
                                                                            <img id="q-img" class="c-ques-img" src="@ans.image" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="post_time">@Model[itr].time
                                                                        </td>
                                                                    </tr>
                                                                </table>

                                                        </tr>
                                                    </table>
                                                </div>
                                            }
                                        }

                                    }

                                    if (Model[itr].state == false)
                                    {
                                        <script>noti_div_change(@itr)</script>
                                        <script>setLikeBackground(@itr)</script>
                                    }

                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4" style="border-radius: 15px; margin-left: 30px; margin-top: 5%">

                <div class="well" id="help-cen-div" style="height: 275px; background-color: #1E2326;">

                    <div class="input-group" style="margin-top: 25px">
                        <input type="text" class="form-control" id="search_faq" onchange="faqcheck()" list="faq_list" placeholder="Search Frequently Asked Questions">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="faqBtn">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <div id="well-div2">
                        <img src="~/Content/images/download.png" style="margin-left: 10px; height: 40px;" />
                        <img src="~/Content/images/help.png" style="margin-left: 10px; height: 30px;" />
                        <span></span>
                        <img src="~/Content/images/247.png" style="margin-left: 10px; height: 30px;" />

                        <img src="~/Content/images/support.png" style="margin-left: 10px; height: 30px;" />

                        <p style="margin-top: 15px; font-size: small; float: right; color: #CC2222;">
                            <font size="3"><b>VirtuallyEveryone Help Center</b></font>.
                            <br />
                            Get answers you need or contact Support Team.
                        </p>
                    </div>
                </div>

                <div class="well" style="background-color: #1E2326;">
                    <p style="color: white;">
                        <img src="~/Content/images/vesmall.png" style="margin-left: 10px; height: 20px;" />
                        <img src="~/Content/images/copyright.png" style="margin-left: 10px; height: 20px;" />
                        <font size="3"><b>VirtuallyEveryone 2018</b></font>
                    </p>

                </div>

            </div>

        </div>

        <div id="myModal1" class="modal1">
            <span class="close1">&times;</span>
            <img src="" class="modal-content1" id="q_img01">
            <div id="caption"></div>
        </div>

        <script>
            // Get the modal
            var modal1 = document.getElementById('myModal1');

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var classname = document.getElementsByClassName();
            var modalImg = document.getElementById("q_img01");
            var captionText = document.getElementById("caption");
            var showModal = function () {
                modal1.style.display = "block";
                modal1.style.zIndex = 1000;
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            for (var i = 0; i < classname.length; i++) {
                classname[i].addEventListener('click', showModal, false);
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close1")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal1.style.display = "none";
            }

        </script>

        <script>
            function change_noti_status(x)
            {
                //alert(x);
                $.getJSON("/Home/HandleNotification?postid=" +x , function (data) {
                    if (data) {
                        window.location.href = '/Home/Feed';
                    }
                    else {
                        alert("Network Issues !");
                    }

                });
            }

            function change_noti_status1(x) {
                $.getJSON("/Home/HandleNotification?postid=" + x, function (data) {
                    if (data) {
                        window.location.href = '/Home/Questions';
                    }
                    else {
                        alert("Network Issues !");
                    }

                });
            }
        </script>

    </div>
</body>




@****************ACTIVE MENU HIGHLIGHT****************@
<script src="~/Scripts/js/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#001').click(function () {


            $("#001").css("background-color", " #db1313");
            $("#001").css("color", "white");


            $("#002").css("background-color", " white");
            $("#002").css("color", " red");

            $("#003").css("background-color", " white");
            $("#003").css("color", " red");

            $("#004").css("background-color", " white");
            $("#004").css("color", " red");



        });
        $('#002').click(function () {

            $("#002").css("background-color", " #db1313");
            $("#002").css("color", "white");


            $("#001").css("background-color", " white");
            $("#001").css("color", " red");

            $("#003").css("background-color", " white");
            $("#003").css("color", " red");

            $("#004").css("background-color", " white");
            $("#004").css("color", " red");

            //alert("2");

        });
        $('#003').click(function () {

            $("#003").css("background-color", " #db1313");
            $("#003").css("color", "white");


            $("#002").css("background-color", " white");
            $("#002").css("color", " red");

            $("#001").css("background-color", " white");
            $("#001").css("color", " red");

            $("#004").css("background-color", " white");
            $("#004").css("color", " red");

            //alert("3");
        });
        $('#004').click(function () {

            $("#004").css("background-color", " #db1313");
            $("#004").css("color", "white");


            $("#001").css("background-color", " white");
            $("#001").css("color", " red");

            $("#002").css("background-color", " white");
            $("#002").css("color", " red");

            $("#003").css("background-color", " white");
            $("#003").css("color", " red");

            //alert("3");
        });
    });

</script>
